body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1448518340475-e3c680e9b4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5hdHVyYWx8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    overflow: hidden;
}

h2
{
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 3px 18px rgb(167, 214, 9);
}

.clock
{
    display: flex;
}

.clock div
{
    margin: 10px;
    color:white;
   
}

.clock span
{
    width: 100px;
    height: 60px;
    background-color: rgb(215, 130, 211);
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 3px;
    color:white;
    font-weight: bolder;
   
}

.clock .text
{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color:rgb(189, 22, 134);
    color: white;
    font-weight:bolder;
}

.clock #am
{
    margin-top: 48px;
    position: absolute;
    width: 60px;
    height: 40px;
    font-size: 20px;
    background-color:rgb(29, 181, 171);
    color: white;
    font-weight: bolder;
}